@using Microsoft.AspNet.Identity
@{
    var userId = User.Identity.GetUserId(); // Get the logged-in user's ID
}
<div class="page-title">
    <div class="title_left">
        <h3>Patients</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="patientsTable" class="data table table-striped no-margin">
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>City</th>
                            <th><a href="@Url.Action("PatientCreate","Patients")" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Add</a></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $("#patientsTable").DataTable({ // Ensure the ID matches
                ajax: {
                    url: "/api/patients/GetPatientsByUser",
                    dataSrc: ""
                },
                columns: [
                    { data: "token" },
                    { data: "name" },
                    { data: "phone", render: function (data) { return data.toString().replace(/(\d\d\d)(\d\d\d)(\d\d\d\d)/g, '$1-$2-$3'); } },
                    { data: "address" },
                    { data: "cityName" }, // Use "cityName" instead of "cities.name"
                    {
                        data: "id",
                        render: function (data, type, patient) {
                            return "<a href='/patients/details/" + patient.id + "' class='btn btn-default btn-xs'><i class='fa fa-folder'></i>View</a>" +
                                "<button class='btn btn-danger btn-xs js-delete' data-patient-id='" + data + "'><i class='fa fa-trash-o'></i>Delete</button>";
                        }
                    }
                ]
            });

            $('#patientsTable').on('click', '.js-delete', function () {
                var button = $(this);
                var patientId = button.data('patient-id');
                bootbox.confirm("Are you sure to delete this patient?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/patients/' + patientId,
                            method: 'DELETE',
                            success: function () {
                                button.closest('tr').remove();
                            },
                            error: function () {
                                alert("Failed to delete patient.");
                            }
                        });
                    }
                });
            });
        });
    </script>
}
