@using Microsoft.AspNet.Identity
@{
    var userId = User.Identity.GetUserId(); // Get the logged-in user's ID
}
<ul class="nav side-menu">
    <li>
        <a href="/"><i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li><a href="@Url.Action("GetPatientByUser", "Patients", new { userId = userId })"><i class="fa fa-edit"></i> Patient</a></li>
    <li><a href="@Url.Action("Index", "Appointments")"><i class="fa fa-edit"></i> Appointment</a></li>
</ul>
